[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"

[dev-packages]
tox = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
ipython = "*"
twine = "*"
autopep8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
